.pac-container {
  border-radius: 20px;
  background-color: var(--background-color);
  border: none;
  margin-top: 5px;
}

.pac-container::after {
  content: none !important;
}

.pac-icon {
  display: none;
}

.pac-item {
  padding: 8px 16px;
  transition: 0.15s;
  background-color: var(--background-color);
  border: none;
}

.pac-item:hover {
  background-color: var(--autocomplete-hover-color);
}

.pac-item:active {
  opacity: 0.8;
}

.pac-item-query {
  color: var(--text-color);
  font-size: 1rem;
}
