.main,
.clock--container,
.search-bar--container,
.btns--container,
.change-mode--btn,
.geolocation--btn,
.header--container,
.search-bar--btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* shadows */
.search-bar,
.header--container,
.search-bar--btn {
  box-shadow: 0.1px 0.1px 1.7px rgba(0, 0, 0, 0.016),
    0.3px 0.3px 4.3px rgba(0, 0, 0, 0.022),
    0.7px 0.7px 8.9px rgba(0, 0, 0, 0.028),
    1.5px 1.5px 18.3px rgba(0, 0, 0, 0.034), 4px 4px 50px rgba(0, 0, 0, 0.05);
}

.header {
  width: 100dvw;
  height: 80px;
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.header--container {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  margin: 10px 10px 0 10px;
  background-color: var(--panel-color);
}

.clock--container,
.search-bar--container,
.btns--container {
  height: 100%;
}

.clock--container {
  flex: 2;
  color: var(--text-color);
  font-size: 4rem;
  font-weight: 600;
  user-select: none;
  margin: 0 15px;
}

.search-bar--container {
  flex: 4;
  justify-content: start;
}

.search-bar {
  width: 80%;
  min-width: 200px;
  height: 50px;
  border-radius: 20px;
  border: none;
  padding: 20px;
  font-size: 1.2rem;
  background-color: var(--search-bar-color);
  margin-right: 15px;
  transition: 0.1s;
  color: var(--search-bar-text-color);
  font-weight: 500;
  cursor: pointer;
}

.search-bar--btn {
  aspect-ratio: 1;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--text-color);
  color: var(--panel-color);
  transition: background-color 0.15s;
  margin-right: 15px;
}

.search-bar--btn:hover {
  opacity: 0.8;
}

.search-bar--btn:active {
  opacity: 0.6;
}

.search-bar:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.btns--container {
  flex: 1;
  column-gap: 15px;
}

.btns--container button {
  aspect-ratio: 1;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  border: 1.5px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--panel-color);
  transition: all 0.15s, opacity 0s;
}

.btns--container button:hover {
  color: var(--panel-color);
  background-color: var(--text-color);
}

.btns--container button:active {
  opacity: 0.8;
}

.change-mode--btn {
  margin-right: 15px;
  position: relative;
}

.geolocation--btn {
  position: relative;
}

.geolocation--btn:hover .btn--label {
  opacity: 1;
}
.change-mode--btn:hover .btn--label {
  opacity: 1;
}

.btn--label {
  opacity: 0;
  position: absolute;
  bottom: -45px;
  background-color: var(--text-color);
  color: var(--panel-color);
  padding: 10px 12px;
  border-radius: 25px;
  transition: 0.2s ease-out;
  pointer-events: none;
}

.hamburger-menu {
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 50px;
  aspect-ratio: 1;
  border: none;
  color: var(--text-color);
  background: none;
  display: none;
}

.hamburger-on {
  position: absolute;
  flex-direction: column;
  right: 40px;
  transform: translate(200%, 80%);
  height: 110px;
  row-gap: 10px;

  user-select: none;
}

@media screen and (max-width: 1100px) {
  .clock--container {
    font-size: 3rem;
  }
}

@media screen and (max-width: 590px) {
  .clock--container {
    display: none;
  }
  .header {
    margin: 0;
  }
  .header--container {
    height: 70px;
    margin-right: 10px;
    overflow-x: hidden;
  }
  .search-bar--container {
    margin-left: 12px;
  }

  .search-bar {
    width: 100%;
    margin-right: 65px;
  }
  .search-bar--container {
    position: relative;
  }
  .search-bar--btn {
    position: absolute;
    right: 49px;
    border: 2px solid var(--panel-color);
    border-radius: 20px;
    height: 52px;
  }
  .btn--label {
    display: none;
  }

  .change-mode--btn {
    margin: 0;
  }
}
