/* :root {
  --background-color: #e7ecef;
  --text-color: #274c77;
  --secondary-color: #6096ba;
  --accent-color: #a3cef1;
  --accent-dark: #8b8c89;
} */

.weather-info--wrapper,
.weather-info--container,
.weather-info--img--wrapper,
.main,
.weather-info--btns,
.air-quality,
.air-quality-smog,
.air-quality-pm25,
.air-quality-pm25-value,
.air-quality-rest {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info--container,
.weather-info--main--wrapper,
.weather-info--img--wrapper,
.air-quality--container,
.weather-info--btns {
  box-shadow: 0.1px 0.1px 1.7px rgba(0, 0, 0, 0.016),
    0.3px 0.3px 4.3px rgba(0, 0, 0, 0.022),
    0.7px 0.7px 8.9px rgba(0, 0, 0, 0.028),
    1.5px 1.5px 18.3px rgba(0, 0, 0, 0.034), 4px 4px 50px rgba(0, 0, 0, 0.05);
}

.main {
  width: 100dvw;
  flex: 1;
  column-gap: 15px;
  padding: 15px 10px 10px 10px;
}

.air-quality--wrapper {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.air-quality--container {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background-color: var(--panel-color);
  padding: 15px;
}

.air-quality {
  width: 100%;
  background-color: var(--text-color);
  border-radius: calc(25px - 15px);
  color: var(--panel-color);
  flex-direction: column;
  justify-content: start;
  padding: 10px;
}

.air-quality-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 10px;
}

.air-quality-smog {
  width: 100%;
  margin-top: 10px;
  height: 80px;
}

.air-quality-pm25 {
  flex: 1;
  font-size: 2.5rem;
  font-weight: 500;
}
.air-quality-pm25-value {
  flex: 1;
  font-size: 4rem;
  font-weight: 600;
}

.air-quality-pm10,
.air-quality-rest-left,
.air-quality-rest-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.air-quality-pm10 {
  font-size: 1.5rem;
  width: 100%;
}

.air-quality-rest {
  width: 100%;
  margin: 10px 0;
}

.air-quality-rest-left,
.air-quality-rest-right {
  flex: 1;
  flex-direction: column;
}

.weather-info--wrapper {
  flex: 4;
  height: 100%;
}

.weather-info--container {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  flex-direction: column;
  background-color: var(--panel-color);
}

.city-info--wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
  font-size: 1.8rem;
  padding-left: 20px;
  min-height: 100px;
}

.city-info--name {
  font-weight: 500;
}

.city-info--date {
  color: var(--secondary-color);
  font-size: 1.2rem;
}

.weather-info {
  width: 100%;
  display: flex;
  margin: 15px 0;
}

.weather-info--img--wrapper {
  aspect-ratio: 1;
  height: 100%;
  border-radius: 25px;
  margin: 0 15px;
}

.weather-info--img {
  color: var(--text-color);
  aspect-ratio: 1;
  font-size: 8rem;
  /* filter: drop-shadow(5px 3px 5px rgba(8, 144, 228, 0.3)); */
}

.weather-info--main--wrapper {
  height: 100%;
  border-radius: 25px;
  padding: 15px 20px;
  display: flex;
  color: var(--text-color);
  font-weight: 500;
  column-gap: 15px;
}

.weather-info--main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
}

.weather-info--temp {
  font-size: 5rem;
  font-weight: 600;
}

.weather-info--cloud {
  color: var(--accent-dark);
  font-size: 1.2rem;
}

.weather-info--rain {
  color: var(--secondary-color);
}

.weather-info--secondary {
  display: flex;
  column-gap: 15px;
  align-items: end;
}

/* ----- weather info buttons */

.weather-info--btns {
  flex-direction: column;
  flex: 1;
  margin: 0 15px;
  border-radius: 25px;
  row-gap: 10px;
  padding: 10px;
}

.weather-info--btn {
  flex: 1;
  width: 100%;
  border-radius: calc(25px - 10px);
  border: none;
  background-color: var(--text-color);
  color: var(--panel-color);
  font-weight: 600;
  font-size: 0.9rem;
  transform: all 0.2s;
  cursor: pointer;
}

.weather-info--btn:hover {
  opacity: 0.9;
}

.weather-info--btn:active {
  opacity: 0.7;
}

@media screen and (max-width: 1490px) {
  .air-quality-title {
    font-size: 1.4rem;
  }
  .air-quality-pm25 {
    font-size: 2rem;
  }
  .air-quality-pm25-value {
    font-size: 3rem;
  }
  .air-quality-rest {
    font-size: 0.8rem;
  }

  .weather-info--img {
    font-size: 6rem;
  }
  .weather-info--img--wrapper {
    height: 150px;
  }
  .weather-info--main--wrapper {
    height: 150px;
  }
  .weather-info--temp {
    font-size: 4rem;
  }

  .weather-info--secondary {
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
  }
}

@media screen and (max-width: 1300px) {
  .air-quality-title {
    font-size: 1.1rem;
  }
  .air-quality-pm25 {
    font-size: 1.7rem;
  }
  .air-quality-pm25-value {
    font-size: 2.4rem;
  }

  .weather-info--main--wrapper {
    flex: 1;
    margin-right: 15px;
  }
  .weather-info {
    flex-wrap: wrap;
  }

  .weather-info--btns {
    flex-basis: 100%;
    height: 140px;
    margin-top: 15px;
  }
  .weather-info--secondary {
    flex-direction: row;
  }
}

@media screen and (max-width: 1124px) {
  .main {
    flex-direction: column-reverse;
  }
  .air-quality--wrapper {
    width: 100%;
    margin-top: 15px;
  }
  .air-quality-title {
    font-size: 2rem;
  }
  .air-quality-pm25 {
    font-size: 2.5rem;
    justify-content: end;
    margin-right: 10px;
  }
  .air-quality-pm25-value {
    font-size: 3.5rem;
    justify-content: start;
    margin-left: 10px;
  }

  .air-quality-pm10 {
    margin: 0;
  }

  .air-quality-rest-left,
  .air-quality-rest-right,
  .air-quality-pm10 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .air-quality-rest-left,
  .air-quality-rest-right {
    flex-direction: column;
  }
  .air-quality-rest {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 890px) {
  .weather-info--secondary {
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
  }
}

@media screen and (max-width: 590px) {
  .weather-info--wrapper {
    width: 100%;
  }
  .weather-info {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .weather-info--img--wrapper {
    padding: 10px 0;
  }

  .weather-info--main--wrapper {
    margin: 15px 15px 0 15px;
  }
  .weather-info--btns {
    flex-shrink: 1;
  }
}
@media screen and (max-width: 440px) {
  .weather-info--temp {
    font-size: 3.8rem;
  }
  .weather-info--cloud {
    font-size: 1rem;
  }
  .weather-info--rain {
    font-size: 0.8rem;
  }
  .weather-info--secondary {
    font-size: 0.8rem;
    row-gap: 5px;
    margin-top: 5px;
    align-items: end;
  }
  .weather-info--main--wrapper {
    flex-direction: column;
    height: 100%;
  }

  .air-quality-title {
    font-size: 1.5rem;
  }
  .air-quality-pm25 {
    font-size: 2rem;
  }
  .air-quality-pm25-value {
    font-size: 2.5rem;
  }
  .air-quality-pm10 {
    font-size: 1.2rem;
  }
  .air-quality-rest {
    font-size: 0.8rem;
  }
}
